In [189]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [7]:
df1=pd.read_csv(r'C:\Users\abhis\OneDrive\Documents\Twitter_cast\correct_twitter_201904.tsv',sep='\t',encoding='utf-8')
df2=pd.read_csv(r'C:\Users\abhis\OneDrive\Documents\Twitter_cast\correct_twitter_202102.tsv',sep='\t',encoding='utf-8')

C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\1415792290.py:2: DtypeWarning: Columns (0,4,5,7,8,9,10,11,12,13,20,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv(r'C:\Users\abhis\OneDrive\Documents\Twitter_cast\correct_twitter_202102.tsv',sep='\t',encoding='utf-8')

In [14]:
df1

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1131594960443199488,britney_201904,2022-02-28 09:34:44.627023-05:00,2022-02-28 09:34:44.627023-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1131594976750653440,britney_201904,2022-02-28 09:34:44.626921-05:00,2022-02-28 09:34:44.626921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1131589737955942405,britney_201904,2022-02-28 09:34:44.634058-05:00,2022-02-28 09:34:44.634058-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1131594909469892610,britney_201904,2022-02-28 09:34:44.627125-05:00,2022-02-28 09:34:44.627125-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1131594812694511617,britney_201904,2022-02-28 09:34:44.627227-05:00,2022-02-28 09:34:44.627227-05:00,True,True,False,False,False,False,...,1.130918e+18,3.042894e+09,Iesbwian,22760.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88032,1122977274352082944,britney_201904,2022-02-28 09:47:43.066500-05:00,2022-02-28 09:47:43.066500-05:00,True,True,False,False,False,False,...,1.122976e+18,2.934939e+09,STORMISKELLYBAG,13773.0,NaN,NaN,NaN,NaN,NaN,NaN
88033,1122977257969127429,britney_201904,2022-02-28 09:47:43.066605-05:00,2022-02-28 09:47:43.066605-05:00,True,True,False,False,False,False,...,1.118943e+18,6.137028e+08,keanuorange,1422.0,NaN,NaN,NaN,NaN,NaN,NaN
88034,1122977009347518466,britney_201904,2022-02-28 09:47:43.066708-05:00,2022-02-28 09:47:43.066708-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88035,1122976878812442626,britney_201904,2022-02-28 09:47:43.066810-05:00,2022-02-28 09:47:43.066810-05:00,True,True,False,False,False,False,...,1.122898e+18,8.468642e+17,TheBlastNews,11533.0,NaN,NaN,NaN,NaN,NaN,NaN
88036,1122976855647240203,britney_201904,2022-02-28 09:47:43.066921-05:00,2022-02-28 09:47:43.066921-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 65, 'url': 'https://t.co/DcqjuqMJDK',...",NaN,NaN

In [15]:
df2

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1358322479136178177,britney_202102,2022-03-01 09:06:52.403595-05:00,2022-03-01 09:06:52.403595-05:00,True,True,False,False,False,False,...,1.358249e+18,9.325937e+07,briebxrries,1002.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1358323016736796677,britney_202102,2022-01-05 08:34:04.477789-05:00,2022-03-01 09:06:52.398778-05:00,True,True,False,False,False,False,...,1.358189e+18,1.752517e+07,Variety,2669599.0,NaN,NaN,['FreeBritney'],NaN,NaN,NaN
2,1358322996696465409,britney_202102,2022-03-01 09:06:52.399008-05:00,2022-03-01 09:06:52.399008-05:00,True,True,False,False,False,False,...,1.358201e+18,4.035766e+08,Johnnerkell,2650.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1358322976769286151,britney_202102,2022-03-01 09:06:52.399205-05:00,2022-03-01 09:06:52.399205-05:00,True,True,False,False,False,False,...,1.358238e+18,4.429004e+09,PopCrave,880695.0,NaN,NaN,['FramingBritney'],NaN,NaN,NaN
4,1368923802260889606,britney_202102,2022-03-01 07:26:05.505986-05:00,2022-03-01 07:26:05.505986-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845725,1344877643242606593,britney_202102,2022-03-01 09:51:30.979375-05:00,2022-03-01 09:51:30.979375-05:00,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
845726,1344878973885566977,britney_202102,2022-03-01 09:51:30.979503-05:00,2022-03-01 09:51:30.979503-05:00,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 47, 'url': 'https://t.co/gcPrwYtdNB',...",['16_1344878968005160963'],NaN
845727,1344877557397692417,britney_202102,2022-03-01 09:51:30.979799-05:00,2022-03-01 09:51:30.979799-05:00,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
845728,1344873811494068226,britney_202102,2022-03-01 09:51:30.980163-05:00,2022-03-01 09:51:30.980163-05:00,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'end': 43, 'url': 'https://t.co/SlTUhqTCUr',...",['3_1344873798458200066'],NaN
845729,1344874487825768448,britney_202102,2022-03-01 09:51:30.980432-05:00,2022-03-01 09:51:30.980432-05:00,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Appending the two data frame file

## . As both data frame has same number and same of columns

In [16]:
df3=pd.concat([df2,df1],ignore_index='True')

In [21]:
# Checking the shape of dataframe after appending

df3.shape

(933767, 46)

### Checking any duplicates data is present on datasets

In [24]:
df3.duplicated().sum()

2997

In [29]:
# View duplicate_data
df3[df3.duplicated()]

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
816203,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816204,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816205,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816206,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816207,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819195,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
819196,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
819197,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
819198,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
819199,1348812825163161600,britney_202102,2022-03-01 09:45:08.184710-05:00,2022-03-01 09:45:08.184710-05:00,True,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Removing the duplicate rows

In [30]:
df4=df3.drop_duplicates().reset_index(drop=True)

In [31]:
df4.shape

(930770, 46)

# Data Cleaning Parts and Steps

In [32]:
df4.dtypes

id                                object
event                             object
ts1                               object
 ts2                              object
from_stream                       object
directly_from_stream              object
from_search                         bool
directly_from_search              object
from_quote_search                 object
directly_from_quote_search        object
from_convo_search                 object
directly_from_convo_search        object
from_timeline_search              object
directly_from_timeline_search     object
text                              object
lang                              object
author_id                        float64
author_handle                     object
created_at                        object
conversation_id                  float64
possibly_sensitive                object
reply_settings                    object
source                            object
author_follower_count            float64
retweet_count                    float64
reply_count                      float64
like_count                       float64
quote_count                      float64
replied_to                       float64
replied_to_author_id              object
replied_to_handle                 object
replied_to_follower_count        float64
quoted                           float64
quoted_author_id                 float64
quoted_handle                     object
quoted_follower_count            float64
retweeted                        float64
retweeted_author_id              float64
retweeted_handle                  object
retweeted_follower_count         float64
mentioned_author_ids             float64
mentioned_handles                float64
hashtags                          object
urls                              object
media_keys                        object
place_id                          object
dtype: object

We have checked the data types of each field

# Checking Any null values present in data sets

In [33]:
df4.isnull().sum()

id                                    0
event                                 0
ts1                                   0
 ts2                                  0
from_stream                           0
directly_from_stream                  0
from_search                           0
directly_from_search                  0
from_quote_search                     0
directly_from_quote_search            0
from_convo_search                     0
directly_from_convo_search            0
from_timeline_search                  0
directly_from_timeline_search         0
text                                  3
lang                                 14
author_id                            15
author_handle                        15
created_at                           15
conversation_id                      15
possibly_sensitive                   15
reply_settings                       15
source                               15
author_follower_count                15
retweet_count                        15
reply_count                          15
like_count                           15
quote_count                          15
replied_to                       875780
replied_to_author_id             897337
replied_to_handle                899348
replied_to_follower_count        897340
quoted                           917522
quoted_author_id                 919685
quoted_handle                    920825
quoted_follower_count            919685
retweeted                        246605
retweeted_author_id              246605
retweeted_handle                 246605
retweeted_follower_count         246605
mentioned_author_ids             930770
mentioned_handles                930770
hashtags                         817851
urls                             546931
media_keys                       701540
place_id                         925716
dtype: int64

As we see below mention columns has more than 80% datasets has null value and does not create any import role in anlysis so droping the below columns

```
replied_to                       875780
replied_to_author_id             897337
replied_to_handle                899348
replied_to_follower_count        897340
quoted                           917522
quoted_author_id                 919685
quoted_handle                    920825
quoted_follower_count            919685
retweeted                        246605
retweeted_author_id              246605
retweeted_handle                 246605
retweeted_follower_count         246605
mentioned_author_ids             930770
mentioned_handles                930770
hashtags                         817851
urls                             546931
media_keys                       701540
place_id                         925716
```

In [35]:
df4.drop(['replied_to','replied_to_author_id','replied_to_handle','replied_to_follower_count','quoted','quoted_author_id','quoted_handle','quoted_follower_count','retweeted','retweeted_author_id','retweeted_handle','retweeted_follower_count','mentioned_author_ids','mentioned_handles','hashtags','urls','media_keys','place_id'],
            axis=1,inplace=True)

As author_id and conversation_id has float data type and it does not play any import role in analysis

In [123]:
df4.drop(['author_id','conversation_id'],axis=1,inplace=True)

C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\3567261822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(['author_id','conversation_id'],axis=1,inplace=True)

In [55]:
df4[df4['like_count']==df4['like_count'].max()]

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,created_at,conversation_id,possibly_sensitive,reply_settings,source,author_follower_count,retweet_count,reply_count,like_count,quote_count
152964,1371223956804399108,britney_202102,2022-03-01 07:14:05.351278-05:00,2022-03-01 07:14:05.351278-05:00,True,False,False,False,False,False,...,2021-03-14 18:17:22-04:00,1.371224e+18,False,everyone,Twitter for Android,44304956.0,661268.0,218999.0,2515969.0,71665.0

In [67]:
df4.shape

(930770, 28)

In [69]:
df4[df4['id'].str.contains('[a-zA-Z]', na=False)]

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,created_at,conversation_id,possibly_sensitive,reply_settings,source,author_follower_count,retweet_count,reply_count,like_count,quote_count
568585,😳 https://t.co/ZgL4IBw4SC,en,363406372,sunset1912,2021-02-10 10:54:43-05:00,1359510802517139459,False,everyone,Twitter for Android,447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
595222,... https://t.co/ozWUbyMdTJ,en,819646999939207168,ClickySound,2021-02-09 18:16:51-05:00,1359280128824606729,False,everyone,Clicky Sound,247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641041,"Co-starring Dustin Hoffman, directed by Danny ...",en,718955223750840320,MashedUpMovies,2021-02-08 14:28:37-05:00,1358860305749704705,False,everyone,"Cheap Bots, Done Quick!",127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816203,(Live: The Femme Fatale Tour) 4K https://t.co...,en,913671438,juniorfonseca,2021-01-11 21:03:31-05:00,1348812825163161600,False,everyone,IFTTT,675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

As User ID should be unique so these row contains in consistanct so droping these rows from datasets

In [70]:
df4=df4[~df4['id'].str.contains('[a-zA-Z]', na=False)]

In [72]:
df4.shape

(930766, 28)

In [107]:
df4['from_stream'].unique()

array([True, 'True'], dtype=object)

In [101]:
df4['created_at'].value_counts()

created_at
2021-02-06 13:23:52-05:00    29
2021-02-06 13:23:53-05:00    26
2021-02-06 13:23:50-05:00    23
2021-02-06 13:23:58-05:00    21
2021-02-06 13:23:59-05:00    19
                             ..
2021-02-24 09:46:37-05:00     1
2021-02-24 09:46:27-05:00     1
2021-02-24 09:46:13-05:00     1
2021-02-24 09:46:12-05:00     1
2019-04-29 17:32:00-04:00     1
Name: count, Length: 809134, dtype: int64

# Filling null value via median and mode

```
1) As our datasets contains maximum outliers so mean is affected via outliers so median is suitaible for the datasets
2) for categorical datasets has some na value for that we will use mode
3) In our datasets some cololum contains false and 'False' value to made our datasets consistant  we replace the value
```

In [118]:
df4['quote_count']=df4['quote_count'].fillna(df4['quote_count'].median())
df4['like_count']=df4['like_count'].fillna(df4['like_count'].median())
df4['reply_count']=df4['reply_count'].fillna(df4['reply_count'].median())
df4['retweet_count']=df4['retweet_count'].fillna(df4['retweet_count'].median())
df4['author_follower_count']=df4['author_follower_count'].fillna(df4['author_follower_count'].median())
df4['source']=df4['source'].fillna(df4['source'].mode()).astype(str)
df4['reply_settings']=df4['reply_settings'].fillna(df4['reply_settings'].mode()).astype(str)
df4['possibly_sensitive']=df4['possibly_sensitive'].fillna(df4['possibly_sensitive'].mode()).astype(str)
df4['lang']=df4['lang'].fillna(df4['lang'].mode()).astype(str)
df4['created_at']=df4['created_at'].fillna(df4['created_at'].mode()).astype(str)
df4['author_handle']=df4['author_handle'].fillna(df4['author_handle'].mode()).astype(str)
df4['text']=df4['text'].fillna(df4['text'].mode())

C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['quote_count']=df4['quote_count'].fillna(df4['quote_count'].median())
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['like_count']=df4['like_count'].fillna(df4['like_count'].median())
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['reply_count']=df4['reply_count'].fillna(df4['reply_count'].median())
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['retweet_count']=df4['retweet_count'].fillna(df4['retweet_count'].median())
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['author_follower_count']=df4['author_follower_count'].fillna(df4['author_follower_count'].median())
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['source']=df4['source'].fillna(df4['source'].mode()).astype(str)
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['reply_settings']=df4['reply_settings'].fillna(df4['reply_settings'].mode()).astype(str)
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['possibly_sensitive']=df4['possibly_sensitive'].fillna(df4['possibly_sensitive'].mode()).astype(str)
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['lang']=df4['lang'].fillna(df4['lang'].mode()).astype(str)
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['created_at']=df4['created_at'].fillna(df4['created_at'].mode()).astype(str)
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['author_handle']=df4['author_handle'].fillna(df4['author_handle'].mode()).astype(str)
C:\Users\abhis\AppData\Local\Temp\ipykernel_2796\211440159.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['text']=df4['text'].fillna(df4['text'].mode())

In [ ]:
df4['created_at']=pd

In [124]:
df4.isna().sum()

id                               0
event                            0
ts1                              0
 ts2                             0
from_stream                      0
directly_from_stream             0
from_search                      0
directly_from_search             0
from_quote_search                0
directly_from_quote_search       0
from_convo_search                0
directly_from_convo_search       0
from_timeline_search             0
directly_from_timeline_search    0
text                             0
lang                             0
author_handle                    0
created_at                       0
possibly_sensitive               0
reply_settings                   0
source                           0
author_follower_count            0
retweet_count                    0
reply_count                      0
like_count                       0
quote_count                      0
dtype: int64

## Remove 'False' string litral from data sets
In our datasets some cololum contains False and 'False',True and 'True' value to made our datasets consistant  we replace the value

In [151]:
import ast

In [152]:
def clean_boolean_data(df):
    bool_data=[]
    for x in df:
        bool_data.append(ast.literal_eval(x.strip().title()))
    return bool_data

In [175]:
df4['from_stream']=clean_boolean_data(df4['from_stream'].astype(str))
df4['directly_from_stream']=clean_boolean_data(df4['directly_from_stream'].astype(str))
df4['directly_from_search']=clean_boolean_data(df4['directly_from_search'].astype(str))
df4['from_quote_search']=clean_boolean_data(df4['from_quote_search'].astype(str))
df4['directly_from_quote_search']=clean_boolean_data(df4['directly_from_quote_search'].astype(str))
df4['directly_from_convo_search']=clean_boolean_data(df4['directly_from_convo_search'].astype(str))
df4['from_convo_search']=clean_boolean_data(df4['from_convo_search'].astype(str))
df4['from_timeline_search']=clean_boolean_data(df4['from_timeline_search'].astype(str))
df4['directly_from_timeline_search']=clean_boolean_data(df4['directly_from_timeline_search'].astype(str))

In [176]:
df4['directly_from_timeline_search'].unique()

array([False])

## Analysis Part from Data Sets

In [185]:
search_term = str(input())

required_df=df4[df4['text'].str.contains(search_term, case=False, na=False)]
rows, cols =required_df.shape
print(f'Total Unique Tweet Posted containing {search_term}',required_df['id'].nunique())
print(f'Total Tweet Posted containing {search_term}',rows)

porn

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,author_handle,created_at,possibly_sensitive,reply_settings,source,author_follower_count,retweet_count,reply_count,like_count,quote_count
6255,1358268468987060225,britney_202102,2022-03-01 09:07:36.912266-05:00,2022-03-01 09:07:36.912266-05:00,True,True,False,False,False,False,...,sex_porn_25,2021-02-06 23:16:53-05:00,False,everyone,TweetDeck,2.0,0.0,0.0,0.0,0.0
24807,1356724680028286976,britney_202102,2022-03-01 09:20:02.592006-05:00,2022-03-01 09:20:02.592006-05:00,True,False,False,False,False,False,...,jackies_backie,2021-02-02 17:02:25-05:00,False,everyone,Twitter for iPhone,18936.0,26.0,3.0,510.0,2.0
25679,1356972686019330059,britney_202102,2022-03-01 09:20:07.401766-05:00,2022-03-01 09:20:07.401766-05:00,True,True,False,False,False,False,...,5_porn_click642,2021-02-03 09:27:54-05:00,False,everyone,TweetDeck,2.0,0.0,0.0,0.0,0.0
26174,1356977925069832194,britney_202102,2022-03-01 09:20:07.446081-05:00,2022-03-01 09:20:07.446081-05:00,True,False,False,False,False,False,...,ARanganathan72,2021-02-03 09:48:43-05:00,False,everyone,Twitter for Android,567218.0,3113.0,412.0,8702.0,462.0
34042,1358081339682136066,britney_202102,2022-03-01 09:10:46.140708-05:00,2022-03-01 09:10:46.140708-05:00,True,True,False,False,False,False,...,littlemissswing,2021-02-06 10:53:17-05:00,False,everyone,Twitter for iPhone,20410.0,0.0,2.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925911,1122902509746630664,britney_201904,2022-02-28 09:47:05.784643-05:00,2022-02-28 09:47:49.133849-05:00,True,True,False,False,False,False,...,MrGiles1968,2019-04-29 12:36:35-04:00,True,everyone,Twitter Web App,3835.0,2.0,1.0,12.0,0.0
929018,1122847986697084929,britney_201904,2022-02-28 09:47:55.054874-05:00,2022-02-28 09:47:55.054874-05:00,True,True,False,False,False,False,...,juhgaama,2019-04-29 08:59:56-04:00,False,everyone,JotaFM,1676.0,0.0,0.0,0.0,0.0
929903,1122648441841246212,britney_201904,2022-02-28 09:48:06.308268-05:00,2022-02-28 09:48:06.308268-05:00,True,True,False,False,False,False,...,onPornFlakes,2019-04-28 19:47:00-04:00,True,everyone,WordPress.com,83.0,0.0,0.0,0.0,0.0
929914,1122645926252822530,britney_201904,2022-02-28 09:48:06.309497-05:00,2022-02-28 09:48:06.309497-05:00,True,True,False,False,False,False,...,onPornFlakes,2019-04-28 19:37:01-04:00,True,everyone,WordPress.com,83.0,0.0,0.0,0.0,0.0
930213,1122596266360201216,britney_201904,2022-02-28 09:48:11.428045-05:00,2022-02-28 09:48:11.428045-05:00,True,True,False,False,False,False,...,BrianCrawfordW1,2019-04-28 16:19:41-04:00,False,everyone,Twitter for Android,42.0,0.0,0.0,0.0,0.0

In [192]:
df4["created_at"] =df4["created_at"].dt.tz_convert('UTC')

df4['created_at_day'] = pd.to_datetime(df4['created_at']).dt.day
df4['created_at_month'] = pd.to_datetime(df4['created_at']).dt.month
df4['created_at_year']=pd.to_datetime(df4['created_at']).dt.year
df4['created_at_Weekday']=pd.to_datetime(df4['created_at']).dt.weekday
df4["created_at_Weekday"] = df4["created_at_Weekday"].map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'})
df4.drop('created_at',axis=1,inplace=True)

AttributeError: Can only use .dt accessor with datetimelike values